.root {
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-background-color: #ffffff;
    -fx-padding: 20;
    -fx-spacing: 10;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 10, 0, 0, 4);
}

.label-title {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #2c3e50;
}

.label-sub {
    -fx-font-size: 14px;
    -fx-text-fill: #34495e;
}

.table-view {
    -fx-background-color: #f9f9f9;
    -fx-border-color: #dcdcdc;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.table-view .column-header {
    -fx-background-color: #666666;
    
}

.table-view .column-header .label {
	-fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-alignment: CENTER;
    
}

.table-view .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.button {
    -fx-background-color: #3498db;
    -fx-text-fill: white;
    -fx-background-radius: 5;
    -fx-padding: 5 15 5 15;
}

.button:hover {
    -fx-background-color: #2980b9;
}
.combo-box {
    -fx-background-color: white;
    -fx-border-color: #bdc3c7;
    -fx-border-radius: 6;
    -fx-background-radius: 6;
    -fx-width: 100;
    -fx-font-size: 13px;
}

.icon-button-delete {
    -fx-background-color: transparent;
    -fx-padding: 10px;
    -fx-text-fill: white;
}

.icon-button-delete:hover {
	-fx-background-color: transparent;
    -fx-effect: dropshadow(gaussian, #ff0000, 10, 0.4, 0, 0);
}

.table-cell {
    -fx-alignment: center;
    -fx-height: 27;
    -fx-font-size: 14px;
}

.table-row-cell:odd {
    -fx-background-color: #f9f9f9;
}
.table-row-cell:hover {
    -fx-background-color: #e0f3ff;
}
.table-row-cell:filled:selected, 
.table-row-cell:selected .table-cell {
    -fx-background-color: #d6f0ff;
    -fx-text-fill: black;
    
}

