.header-label {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #2C3E50;
}

.text-field {
    -fx-background-color: #ecf0f1;
    -fx-border-color: #bdc3c7;
    -fx-padding: 5px;
    -fx-font-size: 14px;
}

.table-view {
    -fx-background-color: #ffffff;
    -fx-border-color: #dcdcdc;
    -fx-table-cell-border-color: #eaeaea;
    -fx-font-size: 14px;
}

.table-column {
    -fx-alignment: CENTER-LEFT;
}

.buttons {
    -fx-background-color: #3498db;
    -fx-text-fill: white;
    -fx-padding: 6 12;
    -fx-font-weight: bold;
    -fx-background-radius: 5;
}

.buttons:hover {
    -fx-background-color: #2980b9;
    -fx-cursor: hand;
    -fx-transition: all 0.2s ease-in-out;
}

.centered-table .column-header,
.centered-table .table-cell {
    -fx-alignment: CENTER;
    -fx-font-size: 14px;
    -fx-text-fill: #333333;
}

.centered-table .table-row-cell {
    -fx-border-color: #dddddd;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: white;
    -fx-padding: 8 0 8 0;
}

.centered-table .table-row-cell:hover {
    -fx-background-color: #f1faff;
    -fx-cursor: hand;
}

/* Khi dòng được chọn */
.centered-table .table-row-cell:selected {
    -fx-background-color: #b2ebf2;  
    -fx-text-fill: black;
}

/* Header của bảng */
.centered-table .column-header-background {
    -fx-background-color: #f2f2f2;
    -fx-border-color: #dddddd;
}

/* Bảng tổng thể */
.centered-table {
    -fx-border-color: #cccccc;
    -fx-border-width: 1;
    -fx-background-radius: 6px;
    -fx-border-radius: 6px;
}

.icon-button-account {
    -fx-background-color: transparent;
    -fx-padding: 10px;
    -fx-text-fill: white;
}

.icon-button-account:hover {
    -fx-effect: dropshadow(gaussian, #00ff99, 10, 0.6, 0, 0);
}

.icon-button-delete {
    -fx-background-color: transparent;
    -fx-padding: 10px;
    -fx-text-fill: white;
}

.icon-button-delete:hover {
    -fx-effect: dropshadow(gaussian, #ff0000, 10, 0.4, 0, 0);
}

